{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Django May2023</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Django Blog MAY2023</a></h1>
        <a href="{% url 'post_new' %}">New Post></a> <!--crea una nueva entrada en el base-->
    </header>

    {% block content %}
    
    {% endblock content %}    
</body> 
</html>